.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 5px;
  color: #f1f1f1;
  z-index: 1000;
  min-width: 250px;
  text-align: center;
  background: #23262f;
  border-left: 6px solid #8ecae6;
}

.success {
  border-left-color: #28a745;
}

.error {
  border-left-color: #e63946;
}

.info {
  border-left-color: #8ecae6;
} 