/* Add your global styles here */
body {
  font-family: sans-serif;
  margin: 0;
  background-color: #181a20;
  color: #f1f1f1;
}

button {
  cursor: pointer;
  background: #23262f;
  color: #f1f1f1;
  border: none;
}
